name: Run

on:
  schedule:
    - cron: '0 0 * * *' # every day

jobs:
  run:
    name: Check Changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Compile and run
        run: cargo run
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
